.App {
  text-align: center;
}

.App-logo {
  height: 48px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 6vh;
  display: flex;
  flex-direction: row; /* Cambiato da column a row */
  align-items: center;
  justify-content: center;
  font-size: 16px; /* calc(10px + 2vmin); */
  color: white;
}

.Toolbar {
  display: flex;
  align-items: center; /* Allinea verticalmente tutti gli elementi figli */
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.Toolbar > div {
  display: flex;
  align-items: center; /* Allinea verticalmente gli elementi all'interno del div */
}

.Menu-button {
  margin-left: 10px; /* Aggiusta il margine per distanza dal logo */
  padding: 10px;
  background-color: #61dafb;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
  align-self: center; /* Assicurati che il pulsante sia centrato verticalmente */
}

.Menu-content {
  display: none;
  position: absolute;
  text-align: left;
  margin-left: 20px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.Menu-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.Menu-content a:hover {
  background-color: #f1f1f1;
}

.Menu:hover .Menu-content {
  display: block;
}

.App-link {
  margin-right: 15px;
  color: #61dafb;
  text-decoration: none;
}

.Login-button {
  background-color: #61dafb;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

.Login-button:hover {
  background-color: #21a1f1;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
